[run]
branch = True
source = .
omit =
    */services/shopify/gql/*
    */graphql/schema/*

[report]
skip_covered = True
exclude_lines =
    if TYPE_CHECKING:
    pragma: no cover
    pass  # unreachable