black
pydevd-odoo
debugpy
watchdog

types-Pillow
types-requests
types-geoip2

# installed in docker odoo-stubs @ git+https://github.com/odoo-ide/odoo-stubs@18.0
pydantic[email,timezone]

rich
websocket-client
